@page "/Projects"
@inject HttpClient Http
@using BlazorPWA.Shared


<PageTitle>Projetos</PageTitle>

<div class="center-box">
    <h1>Projetos</h1>
</div>


@if (projects != null)
{
    <div class="transparent-box">
        <h2 class="custom-heading">API'S</h2>
        <button @onclick="(() => { showDetails = !showDetails; })">Detalhes</button>
        @foreach (var x in projects.Take(3))
        {
            @if (showDetails)
            {
                <div>
                    <p><strong>Nome:</strong> @x.Name</p>
                    <p><strong>Descrição:</strong> @x.Description</p>
                    <p><strong>Link:</strong> @x.Link</p>
                    <hr />
                </div>
            }

        }
    </div>
    <div class="transparent-box">
        <h2 class="custom-heading">MVC</h2>
        <button @onclick="(() => { showDetails2 = !showDetails2; })">Detalhes</button>
        @foreach (var x in projects.Skip(3).Take(1))
        {
            @if (showDetails2)
            {
                <div>
                    <p><strong>Nome:</strong> @x.Name</p>
                    <p><strong>Descrição:</strong> @x.Description</p>
                    <p><strong>Link:</strong> @x.Link</p>
                    <hr />
                </div>
            }

        }
    </div>
    <div class="transparent-box">
        <h2 class="custom-heading">Blazor</h2>
        <button @onclick="(() => { showDetails3 = !showDetails3; })">Detalhes</button>
        @foreach (var x in projects.Skip(4).Take(1))
        {
            @if (showDetails3)
            {
                <div>
                    <p><strong>Nome:</strong> @x.Name</p>
                    <p><strong>Descrição:</strong> @x.Description</p>
                    <p><strong>Link:</strong> @x.Link</p>
                    <hr />
                </div>
            }

        }
    </div>
    <div class="transparent-box">
        <h2 class="custom-heading">Python</h2>
        <button @onclick="(() => { showDetails4 = !showDetails4; })">Detalhes</button>
        @foreach (var x in projects.Skip(5))
        {
            @if (showDetails4)
            {
                <div>
                    <p><strong>Nome:</strong> @x.Name</p>
                    <p><strong>Descrição:</strong> @x.Description</p>
                    <p><strong>Link:</strong> @x.Link</p>
                    <hr />
                </div>
            }

        }
    </div>
}
else
{
    <div class="transparent-box">
        <p>Carregando...</p>
    </div>

}


@code {
    bool showDetails = false;
    bool showDetails2 = false;
    bool showDetails3 = false;
    bool showDetails4 = false;
    private Project[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<Project[]>("Project");
    }
}
